CFG_SYSTEM=x86_64-linux

# optional, anyway root always exists
CFG_USERNAME=ivan
CFG_HOSTNAME=entrypoint

CFG_LOCALE=en_US.UTF-8
CFG_TIMEZONE=UTC

# may be needed for some packages to work
CFG_RTKIT_ENABLED=1
# extend life of SSD, disable if on HDD
CFG_FSTRIM_ENABLED=1

# there is no any random in nix language, so we use psuedo-random with seed as entropy source
CFG_RANDOM_SEED='9O@I!Jy7$9iOHEi6'